<div class="sidemenu">
  <div id="menu">
    <a href="/home?id=<%=user.id%>">Home</a>
    <a href="/profile?id=<%=user.id%>">Profile</a>
    <a href="/tobuy?id=<%=user.id%>" >Buy Now</a>
    <a href="/torent?id=<%=user.id%>">Rental Products</a>
    <a href="/requests?id=<%=user.id%>">Requests</a>
    <div style="padding: 5px 0;"><hr></div>
    <a href="/addproduct?id=<%=user.id%>">+Add Product</a>
    <a href="/rentproduct?id=<%=user.id%>">+Rent Product</a>
    <a href="/requestproduct?id=<%=user.id%>">+Request Product</a>
    <div style="padding: 5px 0;"><hr></div>
    <a href="/about?id=<%=user.id%>" onclick="location.href=this.href+'?id='+uid">About</a>
    <a href="#contact?id=<%=user.id%>">Contact</a>
  </div>
</div>
